*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
  font-family: 'poppins' , sans-serif;
}

.logo{
  color: rgb(226,226,226);
  letter-spacing: 5px;
  font-size: 20px;
}
.navLinks{
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.navLinks li:hover{
  padding: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: black;
}

.navLinks li{
  list-style: none;
  height: 100%;
}

.navLinks a{
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.DPButton{
  background-color: #5d4954;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  border: none;
  cursor: pointer;
}


.dropdown{
  position: relative;
  display: inline-block;
}

.DPContent{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.DPContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DPContent a:hover {
  background-color: #ddd
}

#logout{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.show{
  display: block;
}


  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:#92a1d1;
  }
  #container {
    padding-left: 300px;
    width: 1270px;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 140px;
    padding: 7px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;

  }
  .day {
    width: 120px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;
  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .addShift {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
 
  #addShift, #deleteShift {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }
  #shiftTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #shiftTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #shiftText {
    font-size: 14px;
  }
  #newEventBG {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }

  .shiftsList {
    font-size: 14px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }       


table, th, td {
    font-size: 40px;
    border: solid 1px #ddd;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
}